html,body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif; 
    color: white;
    background: rgb(54,77,204);
    background: linear-gradient(176deg, rgba(54,77,204,1) 0%, rgba(6,16,73,1) 100%);

}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

h2{
    font-size: 16px;

}
